{% extends "base.html" %}

{% block title %}Presupuesto{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
    <div class="page-tittle">
        <div class="page-tittle-container">
            <div class="page-tittle-text">
                <h1>PRESUPUESTO</h1>
            </div>
            
            <div class="page-tittle-route">
                <ul class="ul-route">
                    <li><a href="/">HOME</a></li>
                    <li>/ PRESUPUESTO</li>
                </ul>
            </div>
        </div>    
    </div>
{% endblock %}

{% block footer %}
    {{ include('partials/footer.html')}}
{% endblock %}
