{% extends "base.html" %}

{% block title %}Presupuesto{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
    <div class="page-tittle">
        <div class="page-tittle-container">
            <div class="page-tittle-text">
                <h1>PRESUPUESTO</h1>
            </div>
            
            <div class="page-tittle-route">
                <ul class="ul-route">
                    <li><a href="/">HOME</a></li>
                    <li>/ PRESUPUESTO</li>
                </ul>
            </div>
        </div>    
    </div>

 <form action="/presupuesto/validarPresupuesto" method="post" id="formAlta">
                        
                            
        <label for="mensaje" class="label">mensaje:</label>
        
        <!--<input type="textarea" rows="5" cols="30"  name="mensaje" class="form" autofocus required>-->
    <textarea name="mensaje" rows="10" cols="50"></textarea>
      <label for="fechaInicio">Fecha Inicio</label>
       <input type="date" name="fechaInicio" value="{{ datos.diaHoy }}" min="{{ datos.diaHoy }}" required><br>
            

          <label for="fechaFin">Fecha Fin</label>
            <input type="date" name="fechaFin" min="{{ datos.diaHoy }}" required><br>
         
    <label for="cantidadInvitados" class="label">Cantidad Invitados:</label>
        <input type="number" name="cantidadInvitados" class="form" autofocus required>
        
 <select name="nombreEvento" class="form-control custom-select" required>
<option selected>Seleccione el tipo de Evento</option>
            {% for evento in todosEventos %}
<option value={{ evento.nombreEvento }}>{{ evento.nombreEvento }}</option>
                                {% endfor %}
                            </select>
        
        
        <input type="submit" value="Pedir Presupuesto">
    
    </form>



{% endblock %}

{% block footer %}
    {{ include('partials/footer.html')}}
{% endblock %}
