{% extends "base.html" %} 

{% block title %}
    Registro
{% endblock %} 

{% block header %}
{{ include('partials/nav.html')  }}

    
    {% endblock %}

{% block head %} 
{{ parent() }}
   <link rel="stylesheet" href="/public/css/formularios.css">
{% endblock %} 

{% block main %}
    <h1>Registro</h1>
    
                       
        <form action="/usuarios/validarUsuario" method="post" id="formAlta">
                        
                       
        <label for="nombre" class="label">Nombre(nick):</label>
        <input type="text" name="nombre" class="form" autofocus required>
    <label for="password" class="label">Password:</label>
      <input type="password" name="password" class="form" autofocus required>
       <br>
       <label for="nombrePersona" class="label">Nombre:</label>
      
         <input type="text" name="nombrePersona" class="form" autofocus required>
    <label for="apellido" class="label">Apellido:</label>
        <input type="text" name="apellido" class="form" autofocus required>
         
    <label for="email" class="label">Email:</label>
        <input type="email" name="email" class="form" autofocus required>
    <label for="telefono" class="label">Telefono:</label>
        <input type="tel" name="telefono" class="form" autofocus required>
        
        <input type="submit" value="Registrar">
    
    </form>
    
    
    
{% endblock %}

{% block footer %}
    {{ include('partials/footer.html')}}
{% endblock %}