
    <div class="container-footer-all">
        <div class="container-body">
        
        <div class="columna1">
            <div class="foot-columna-tittle">
                <h1>Direccion</h1>
            </div>
            <div class="foot-columna-content">
                <div class="foot-columna-icon">
                    <img src="/public/css/images/location.png">
                </div>
            
                <div class="foot-columna-info">
                    <p>Barrio 'Las Marias'</p>
                    <p>Lujan</p>
                </div>
            </div>
        </div>
        
        <div class="columna2">
            <div class="foot-columna-tittle">
                <h1>Email</h1>
            </div>
            <div class="foot-columna-content">
                <div class="foot-columna-icon">
                    <img src="/public/css/images/mail.png">    
                </div>
                
                <div class="foot-columna-info">
                    <div class="fila">
                        <img src="/public/css/images/mail-flat.png">
                        <label><a href="mailto:vnardoni@live.com.ar">vnardoni@live.com.ar</a> </label>
                    </div>
                     <div class="fila">
                        <img src="/public/css/images/facebook.png">
                        <label><a href="http://www.facebook.com">Quinta La Renata</a> </label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="columna3">
            <div class="foot-columna-tittle">
                <h1>Telefono</h1>
            </div>
            <div class="foot-columna-content">
                <div class="foot-columna-icon">
                    <img src="public/css/images/celular.png">    
                </div>
                
                <div class="foot-columna-info">
                    <div class="fila2">
                        <img src="/public/css/images/profesor-flat.svg">
                        <label>Graciela: +54xxxxxxxx</label>
                    </div>
                </div> 
            </div>    
        </div>
        
        </div>
        
    </div>

    <div class="container-footer">
        <div class="foot">
            <div class="author">
                <p>Sitio desarrollado por <a href="#">Valentin  Nardoni</a> | <a href="#">Otero Facundo</a></p>
            </div>
        
            <div class="terminos">
                <p>2019-2019</p>
            </div>
        </div>    
    </div>
