form {
 

 margin-top: 50px;
    border-radius: 5px;
    background-color: lightgray;
    padding: 20px;
    width: 50%;
    opacity: 0.9;
    margin-left: 25%;
}
input {
    border: 2px solid #999;
    border-radius: 0%;
padding:5px;
margin-left:1%;
    padding-right:15%; 
    
    
}

label {
    display:  inline-block;
    width: 10%;   
padding:5px;
}
input[type=button]{
   background-color: #0067a9; 
 cursor: pointer;
color: white;

}
input[type=button]:hover{
    background-color: #4c94c2;
}


label{
   font-size: 16px;

}
input[type=submit]:hover{
    background-color: #4c94c2;
}

input[type=text], input[type=date], input[type=time], input[type=email], input[type=number], select{
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    margin-top: 4px; 
    margin-bottom: 4px;
    resize: vertical ;
    border: 1px solid #E5EFF6;
}
